body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#adminLink{
    position: absolute;
    right: 20px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#splash{
	background-image: url("images/splash_blur.jpg"); 
	background-size: cover;
	margin-bottom: 30px;
	background-position: center; 
} 

#splash .container{
	padding-top: 100px;
	padding-bottom: 100px;
}

.tab-pane {
	padding-top: 40px;
}

input[type="file"]{
	display: none !important;
}

#pageTitle{
	font-size: 42pt;
	font-shadow: 0 0 5 5;
}

.trailImage{
	width: 240px;
	height: 240px;
	overflow: hidden;
	position: relative;
	float: left;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 4px;
}

#leaveComment{
	margin-left: 16px;
}

.inputPicture,
.pictureButtons {
	margin-bottom: 5px !important;
}

span.glyphicon.glyphicon-remove-circle {
	padding-top: 2px;
	padding-bottom: 4px;
}

.form-group {
	position: relative;
}

#browsePicture {
	position: absolute;
	bottom: 0px;
}

.delete{
	margin-left: 5px;
}

/* #trailType, */
/* #trailType button { */
	/* width: 100%; */
/* } */

/* .img-rounded{ */
	/* width: 240px; */
	/* height: 240px; */
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	/* position: relative; */
/* } */